<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlongx.sorder.order.dao.TemporaryMapper">
  <resultMap id="BaseResultMap" type="com.tlongx.sorder.order.pojo.Temporary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wfid" jdbcType="INTEGER" property="wfid" />
    <result column="daily_supply" jdbcType="INTEGER" property="dailySupply" />
    <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
    <result column="sub_time" jdbcType="TIMESTAMP" property="subTime" />
  </resultMap>
</mapper>