<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlongx.sorder.setting.dao.SysSettingMapper">
  <resultMap id="BaseResultMap" type="com.tlongx.sorder.setting.pojo.SysSetting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="withdraw_day" jdbcType="INTEGER" property="withdrawDay" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="about_us" jdbcType="LONGVARCHAR" property="aboutUs" />
    <result column="use_help" jdbcType="LONGVARCHAR" property="useHelp" />
    <result column="use_help_supplier" jdbcType="LONGVARCHAR" property="useHelpSupplier" />
    <result column="use_help_student" jdbcType="LONGVARCHAR" property="useHelpStudent" />
  </resultMap>
</mapper>