<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlongx.sorder.user.dao.FeedBackMapper">
  <resultMap id="BaseResultMap" type="com.tlongx.sorder.user.pojo.FeedBack">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
  <select id="selectFeedBackList" resultType="com.tlongx.sorder.dto.FeedBackDto">
    SELECT f.id,u.username,u.phone,f.content,f.crtime
    FROM tl_feedback f
    LEFT JOIN tl_user u on u.uid =f.uid
    <where>
      u.sid=#{sid}
    </where>
    ORDER BY f.crtime DESC

  </select>
</mapper>