<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlongx.sorder.user.dao.PhoneCodeMapper">
  <resultMap id="BaseResultMap" type="com.tlongx.sorder.user.pojo.PhoneCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
</mapper>