<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlongx.sorder.manager.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.tlongx.sorder.manager.pojo.Manager">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="mid" jdbcType="VARCHAR" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="portrait" jdbcType="VARCHAR" property="portrait" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="overdue_time" jdbcType="TIMESTAMP" property="overdueTime" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
  </resultMap>


</mapper>