<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlongx.sorder.manager.dao.SysRechargeMapper">
  <resultMap id="BaseResultMap" type="com.tlongx.sorder.manager.pojo.SysRecharge">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="ie" jdbcType="INTEGER" property="ie" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
</mapper>